<div id="navbar">

    <div id="resources">
        <div class="ironInfo"><span class="categoryTitle">Fer : </span>5000</div>
        <div class="gazInfo"><span class="categoryTitle">Hydrogène : </span>7000</div>
        <div class="diamondInfo"><span class="categoryTitle">Diamant : </span>400</div>
        <div class="energyInfo"><span class="categoryTitle">Energie : </span>8000</div>
    </div>

    <div id="planetInfoDesktop">
        <p class="planet"><span class="categoryTitle">{{updatePlanetNameInUI()}}</span> - Position {{updatePositionXInUI()}}:{{updatePositionYInUI()}}</p>

        <p class="serverTime">{{currentTime | date:"HH:mm:ss"}} Heure Terrestre</p>
    </div>

    <div id="planetInfoMobile">
        <p class="planet"><span class="categoryTitle">{{updatePlanetNameInUI()}}</span> <br> Position {{updatePositionXInUI()}}:{{updatePositionYInUI()}}</p>
        <p class="serverTime">{{currentTime | date:"HH:mm:ss"}} Heure Terrestre</p>
    </div>

    <div id="account">
        <button class="messageButton" (click)="toMessages()">Messages</button>
        <button class="accountButton" (click)="toAccount()">Compte</button>
    </div>

</div>