<div class="popup-container">
    <mat-dialog-content class="mat-typography">

<div>Ceci est uniquement la partie Front End que j'ai réalisé pour notre projet de fin de formation. 
    <br>Par souci de simplicité il n'y a du coup aucune liaison avec la base de données, 
    j'ai donc implémenté des données factices afin d'avoir une idée d'à quoi ressemble le "vrai" projet, qui est à retrouver ici :</div>


    <ul>
        <li>
         <a href="https://github.com/Vv214/SpaceBattleground-POEC-0523/tree/postPres">Le côté Back</a>
        </li>
        <li>
          <a href="https://github.com/Vv214/SpaceBattleground-POEC-0523-frontend/tree/VvDev">Le côté Front</a> 
        </li>
    </ul>
    </mat-dialog-content>


    <mat-dialog-actions class="popupButtons">
        <button mat-dialog-close >Ok</button>
    </mat-dialog-actions>

</div>