<h1 class="title">Ressources</h1>

<div class="bg-container">

    <div class="onPlanet">

        <div class="resourceBuilding" (click)="openBuildingDetail(4)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/ironMine.png" />
            <p class="resourceBuildingName">Mine de fer</p>
            <p class="resourceBuildingLevel">Niveau : {{levelInUI(4)}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>
        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail(5)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/hydrogenMine.png" />
            <p class="resourceBuildingName">Extracteur d'Hydrogène</p>
            <p class="resourceBuildingLevel">Niveau : {{levelInUI(5)}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail(6)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/diamondMine.png" />
            <p class="resourceBuildingName">Mine de diamant</p>
            <p class="resourceBuildingLevel">Niveau : {{levelInUI(6)}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail(7)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/energyMine.png" />
            <p class="resourceBuildingName">Centrale électrique</p>
            <p class="resourceBuildingLevel">Niveau : {{levelInUI(7)}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail(8)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/ironStockage.png" />
            <p class="resourceBuildingName">Hangar de fer</p>
            <p class="resourceBuildingLevel">Niveau : {{levelInUI(8)}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>


        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail(9)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/hydrogenStockage.png" />
            <p class="resourceBuildingName">Hangar d'Hydrogène</p>
            <p class="resourceBuildingLevel">Niveau : {{levelInUI(9)}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail(10)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/diamondStockage.png" />
            <p class="resourceBuildingName">Hangar de diamant</p>
            <p class="resourceBuildingLevel">Niveau : {{levelInUI(10)}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div>
        <div class="resourceBuilding" (click)="openBuildingDetail(11)">
            <img class="resourceBuildingPicture" src="assets/images/buildings/drillingMachine.png" />
            <p class="resourceBuildingName">Foreuse</p>
            <p class="resourceBuildingLevel">Niveau : {{levelInUI(11)}}</p>
            <div class="futurepanel__footer">#0002134678 TFFC:3 /////////////</div>

        </div> 
    </div>
</div>